@use './styles/variaveis.style' as var;

.home {
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 18%;
    padding: 20px;
    height: 100dvh !important;
    background: #fff;
    background-color: #111418 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;

  }

  .content {
    width: 80%;
    margin: auto 20px 20px 350px;
    height: 100dvh;
    scroll-behavior: smooth;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  .route-container {
    width: 100%;
    height: 100%;
    animation: fadeInUp 0.7s ease-in-out forwards !important;
  }
}

@media(max-width : 1235px) {
  .home {
    .nav {
      position: fixed;
      width: 18rem;
      height: 100% !important;
      padding: 12px;
      border-right: none;
      box-shadow: none;
    }

    .content {
      width: 65%;
      height: 100dvh;
    }
  }
}

@media (max-width: 900px) {
  .home {
    .nav {
      position: fixed;
      width: 17rem;
      height: 100% !important;
      padding: 12px;
      border-right: none;
      box-shadow: none;
    }

    .content {
      max-width: 70%;
      height: 100dvh;
    }
  }
}

@media (max-width: 870px) {
  .home {
    .nav {
      position: fixed;
      width: 15rem;
      height: 100% !important;
      padding: 12px;
      border-right: none;
      box-shadow: none;
    }

    .content {
      max-width: 70%;
      height: 100dvh;
    }
  }
}

@media (max-width: 720px) {
  .home {
    flex-direction: column;

    .nav {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 15% !important;
      background-color: initial;
      padding: 0;

    }

    .content {
      width: 100%;
      height: 85dvh;
      padding: 0 8px;
      margin: auto;
    }
  }
}

@media (max-width : 430px) {
  .home {
    flex-direction: column;

    .nav {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 13% !important;
      background-color: initial;
      padding: 0;

    }

    .content {
      width: 100%;
      height: 60dvh;
      padding: 0 8px;
      margin: 0;
    }
  }
}

@media (max-width : 414px) {
  .home {
    flex-direction: column;

    .nav {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 13% !important;
      background-color: initial;
      padding: 0;

    }

    .content {
      width: 100%;
      height: 60dvh;
      padding: 0 8px;
      margin: 0;
    }
  }
}

@media (max-width: 375px) {
  .home {
    .nav {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 10% !important;
      background-color: initial;
      padding: 0;

    }

    .content {
      width: 100%;
      height: 60dvh;
      padding: 0 8px;
    }
  }
}