@use './../../styles/variaveis.style' as var;

.sobre {
  width: 100%;

  a {
    color: var.$accent-dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    color: var.$text-secondary;
    line-height: 1.6;
    font-size: large;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1rem 0;

    li {
      margin-bottom: 0.5rem;
      color: var.$text-secondary;
      font-size: large;
    }
  }

  h1 {
    color: var.$text-primary;
  }

  h2 {
    color: var.$text-primary;
  }

  h3 {
    color: var.$accent-dark;
  }

  &__header,
  &__footer {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    // border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }
  }

  &__main {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem 0;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;

  }


  @media (max-width: 900px) {

    &__header,
    &__footer,
    &__main {
      width: 95%;
      margin: 1rem auto;
      padding: 0.5rem 0;
    }

    p,
    li {
      font-size: 0.95rem;
    }
  }

  @media (max-width: 420px) {
    &__main {
      flex-direction: column;
      gap: 1rem;
    }
  }
}