  @use'../../styles/variaveis.style' as var;

  .resumo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    &__card-section {
      display: flex;
      justify-content: space-around;
      width: 80%;
      flex-wrap: wrap;
    }



    &__content {
      width: 75%;

      h3 {
        color: var.$text-primary;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        color: var.$text-secondary;
        font-size: 1rem;
        line-height: 1.5;
      }
    }


    &__title {
      font-size: 2rem;
      margin: 30px;
      color: var.$text-primary;
      font-weight: bold;
      margin-bottom: 1rem;
      box-shadow: #9ba5b4 0px 2px 0px 0px;
    }

    &__card {
      display: flex;
      max-width: 30%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      margin: 2.5rem;
      padding: 10px;
      background-color: var.$white-card;
      // box-shadow: #0d1117 0px 4px 6px -1px, #0d1117 0px 2px 4px -1px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      //border: 1px solid #ddd;
      border-radius: 10px;
      transition: transform 0.2s ease-in-out;


      img {
        width: 100%;
        height: 50%;
        border-radius: 5px;
        // height: auto;
      }

      .title {
        font-size: 1.5rem;
        font-weight: bold;
        background-color: initial;
      }

      .desc {
        font-size: 1rem;
        color: aliceblue;
        text-align: center;
        background-color: initial;
      }

      .button {
        background-color: var.$button-color;
        max-width: 50%;
        margin: 10px;
        color: white;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 0.25rem;
        font-size: 1rem;

        &:hover {
          background-color: #0056b3;
          transform: translateY(-2px);
        }
      }
    }

    &__card:hover {
      transform: translateY(-5px);
    }

    @media(max-width : 1360px) {
      &__card-section {
        width: 100%;
        justify-content: center;
        gap: 1rem;
      }

      &__content {
        width: 80%;
        padding: 0 1rem;
      }

      &__card {
        max-width: 50%;
        margin: 1rem;
      }
    }

    @media(max-width : 1235px) {
      &__card-section {
        width: 100%;
        justify-content: center;
        gap: 1rem;
      }

      &__content {
        width: 100%;
        padding: 0 1rem;
      }

      &__card {
        max-width: 60%;
        margin: 1rem;
      }
    }

    @media (max-width: 900px) {
      &__card-section {
        width: 100%;
        justify-content: center;
        gap: 1rem;
      }

      &__content {
        width: 100%;
        padding: 0 1rem;
      }

      &__card {
        max-width: 60%;
        margin: 1rem;
      }

      .button {
        width: 70%;
        font-size: 90%;
        padding: 0.4rem 0.8rem;
      }
    }

    @media (max-width: 720px) {
      &__card-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;
      }

      &__title {
        font-size: 1.5rem;
        margin: 0;
      }

      &__card {
        width: 100%;
        padding: 0.75rem;

        .title {
          font-size: 1.25rem;
        }

        .desc {
          font-size: 0.95rem;
        }

        .button {
          font-size: 60%;
          padding: 0.4rem 0.8rem;
        }
      }
    }

    @media (max-width: 414px) {
      .resumo {
        height: 60dvh;
      }

      &__card-section {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 1rem;
      }

      &__title {
        font-size: 1.5rem;
        margin: 0.75rem;
      }

      &__card {
        width: 100%;
        padding: 0.75rem;

        .title {
          font-size: 1.25rem;
        }

        .desc {
          font-size: 0.95rem;
        }

        .button {
          font-size: 0.7rem;
          padding: 0.4rem 0.8rem;
        }
      }
    }

    @media (max-width: 375px) {
      .resumo {
        height: 60dvh;
      }

      &__card-section {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 1rem;
      }

      &__title {
        font-size: 1.5rem;
        margin: 0.75rem;
      }

      &__card {
        width: 100%;
        padding: 0.75rem;

        .title {
          font-size: 1.25rem;
        }

        .desc {
          font-size: 0.95rem;
        }

        .button {
          font-size: 0.7rem;
          padding: 0.4rem 0.8rem;
        }
      }
    }

  }